﻿@model IEnumerable<Passline.Totem.Core.DataTransferObjects.ProductoDto>
@using System.Threading;
@using Passline.Totem.Core.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/Plugins/AdminLte/adminLTE.css")
    @Styles.Render("~/Content/AdminLte/style.css")
    @Styles.Render("~/Content/AdminLte/calendar.css")
}
@{
    var totalProducts = ViewBag.TotalProduct ?? 0;
    var totalSales = ViewBag.TotalSales ?? 0;

    var todaySales = ViewBag.TodaySales;
    var yesterdaySales = ViewBag.YesterdaySales;

    var idTotem = ViewBag.IdTotem;
    var idProductor = ViewBag.IdProductor;
    var pais = ViewBag.Pais != null ? ViewBag.Pais : "";
    var moneda = ViewBag.Moneda;
    var bandera = ViewBag.Bandera;
    var version = ViewBag.Version;
}
<div class="wrapper">
    @Html.Partial("_AdminLteTopMenu")
    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Administrador
                <small>
                    Passline - @Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(pais.ToLower())
                </small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>@totalSales</h3>
                            <h4>Cantidad de Ventas Hoy</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="javascript: window.open(urlItemSales, '_self')" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@totalProducts<sup style="font-size: 20px"></sup></h3>
                            <h4>Stock de Productos</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="javascript: window.open(urlProductIndex, '_self')" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>Reporte</h3>
                            <h4>Imprimir Cierre de Ventas</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" onclick="salesReport()" class="small-box-footer">Imprimir <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>Notificar</h3>
                            <h4>Reportar un Problema</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" onclick="notifyProblem('Info', 'Desea reportar un problema?','info')" class="small-box-footer">Reportar <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <div class="box box-primary">
                <div class="row box-body" style="margin-top: -20px; text-align:center">
                    <div class="col-md-6">
                        <h3>
                            <i>Total de Ventas Ayer: @moneda </i><i id="yesterdaySales"></i>
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <h3>
                            <strong>Total de Ventas Hoy: @moneda </strong><strong id="todaySales"></strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="newContainer2" style="width:100%; height: 400px; margin: 0 auto"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12" id="newContainer" style="width:100%; height: 400px; margin: 0 auto"></div>
            </div>
            <!-- /.content -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <b>Versión:</b> @version
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; @DateTime.Now.Year <b>- Passline</b>.</strong> Todos los Derechos Reservados.
    </footer>
    <!-- /.main-footer -->
</div>

<!-- Calendar -->
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <div class="calendar-base">

                <div class="year"></div>
                <!-- year -->

                <div class="triangle-left"></div>
                <!--triangle -->
                <div class="triangle-right"></div>
                <!--  triangle -->

                <div class="months">
                    <span class="month-hover">Ene</span>
                    <span class="month-hover">Feb</span>
                    <span class="month-hover">Mar</span>
                    <strong class="month-color">Abr</strong>
                    <span class="month-hover">May</span>
                    <span class="month-hover">Jun</span>
                    <span class="month-hover">Juli</span>
                    <span class="month-hover">Ago</span>
                    <span class="month-hover">Sep</span>
                    <span class="month-hover">Oct</span>
                    <span class="month-hover">Nov</span>
                    <span class="month-hover">Dic</span>
                </div><!-- months -->
                <hr class="month-line" />

                <div class="days">DOM LUN MAR MIE JUE VIE SAB</div>
                <!-- days -->

                <div class="num-dates">

                    <div class="first-week"><span class="grey">26 27 28 29 30 31</span> 01</div>
                    <!-- first week -->
                    <div class="second-week">02 03 04 05 06 07 08</div>
                    <!-- week -->
                    <div class="third-week"> 09 10 11 12 13 14 15</div>
                    <!-- week -->
                    <div class="fourth-week"> 16 17 18 19 20 21 22</div>
                    <!-- week -->
                    <div class="fifth-week"> 23 24 25 26 <strong class="white">27</strong> 28 29</div>
                    <!-- week -->
                    <div class="sixth-week"> 30 <span class="grey">01 02 03 04 05 06</span></div>
                    <!-- week -->
                </div>
                <!-- num-dates -->
                <div class="event-indicator"></div>
                <!-- event-indicator -->
                <div class="active-day"></div>
                <!-- active-day -->
                <div class="event-indicator two"></div>
                <!-- event-indicator -->

            </div>
            <!-- calendar-base -->
            <div class="calendar-left">

                <div class="num-date">
                </div>
                <!--num-date -->
                <div class="day"></div>
                <!--day -->
                <div class="current-events">
                    Acceda al reporte actual o  si  desea
                    consultar los anteriores, pulse el  día
                    y después de marcado de imprimir.
                    <hr />
                    <br />
                    <button class="btn btn-default btn-lg">Imprimir</button>
                </div>
                <!--current-events -->
            </div>
            <!-- calendar-left -->
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

@Html.Modal("modalGetProducts", "Detalles de Productos", string.Empty, ModalType.Default, string.Empty, new[] {
    Html.ButtonAdminLte("btnCloseGetProduct", "Cerrar", TypeButton.Default, IconType.Cancel)
    })

@section scripts{
    <script>
        var idTotem = '@ViewBag.IdTotem';
        var idProductor = '@ViewBag.IdProductor';
        var factura = '@ViewBag.FacturaNo';
        var producto = '@Model';
        var moneda = '@ViewBag.Moneda';
        var country = '@pais';
        var isDecimal = '@ViewBag.IsDecimal';

        var urlAdminLte = '@Url.Action("Dashboard", "AdminLte")';
        var urlVisor = '@Url.Action("Visor", "Totem")';
        var urlForMorris = '@Url.Action("ForMorris", "AdminLte")';
        var urlForMorris2 = '@Url.Action("ForMorris2","AdminLte")';
        var urlApagarEquipo = '@Url.Action("ApagarEquipo","AdminLte")';
        var urlCerrarApp = '@Url.Action("CerrarApp","AdminLte")';
        var urlReportService = '@Url.Action("ReportService", "AdminLte", new { idTotem = idTotem })' + "&moneda=" + moneda + "&pais=" + country;
        var urlCloseAllTabs = '@Url.Action("CloseAllTabs", "AdminLte")';
        var urlSupport = '@Url.Action("Support", "AdminLte", new { idTotem = idTotem })';
        var urlGetProducts = '@Url.Action("GetProducts", "AdminLte", new { idTotem = idTotem  })' + "&idProductor=" + '@idProductor';
        var urlItemSales = '@Url.Action("Sales", "AdminLte", new { idTotem = idTotem  })' + "&idProductor=" + '@idProductor' + "&pais=" + '@pais' + "&moneda=" + '@moneda'+ "&isDecimal=" + isDecimal;
        var urlProductIndex = '@Url.Action("Products", "AdminLte", new { idTotem = idTotem  })' + "&idProductor=" + '@idProductor' + "&pais=" + '@pais' + "&moneda=" + '@moneda' + "&isDecimal=" + isDecimal;

        $("#todaySales").html('@todaySales');
        $("#yesterdaySales").html('@yesterdaySales');

        $(".year").html(new Date().getFullYear());
        $(".num-date").html(new Date().getDate());
        $(".day").html(["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"][(new Date()).getDay()]);
    </script>
    @Scripts.Render("~/Scripts/AdminLte/dashboard.js?" + DateTime.Now.Ticks + "")
}